	
        <div class="ui main text container segment">
        <div class="ui huge header">Edit </div>
        <form class= "ui form" action= "views" method=" POST">
        <div class="field">
					<div class="form-group">
						<input  pattern="[A-Za-z]{1,32}" class="form-control" type="text" name="name" placeholder="name">
                        <p class="text-muted">Please add only letters</p>
                    </div>
                    		<div class="form-group">
								<input class="form-control" type="text" name="description" placeholder="description">
                                 <p class="text-muted">Please add only letters</p>
                </div>
								<div class="form-group">
									<input  pattern="[A-Za-z]{1,32}"class="form-control" type="text" name="breed" placeholder="breed">
                                     <p class="text-muted">Please add only letters</p>
                </div>
									<div class="form-group">
										<input  pattern="[0-9]"class="form-control" type="text" name="age" placeholder="age">
                                         <p class="text-muted">Please add only numbers</p>
                </div>
										<div class="form-group">
											<input  pattern="[A-Za-z]{1,32}" class="form-control" type="text" name="sex" placeholder="sex">
                                             <p class="text-muted">Please add only letters</p>
                </div>
											<button type="submit" class="btn  btn-block  btn-success">Submit</button>